.card-topic{
    box-shadow: 2px 2px 2px 2px #ccc;
    background-color: #ffcc00;
    width: 150px;
    height: 50px;
    border-radius: 5%;
    margin: 2%;
}
.align-center{
   text-align:center;
   align-items: center;
}
.custom-btn{
    border-radius: 5%;
    background-color: #000;
    color: #fff;
    padding: 1%;
}