<html>

<head>
    <title>VueJs Introduction</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <style>
        @import 'css/style.css';
      </style>
</head>
 <body>
    <div id="component_test" class='align-center'>
        <headercomponent></headercomponent>
     </div>
    <div id = "intro" style = "text-align:center;" v-if="!isStarted">
       
       <h1>Hello {{firstname}}  {{lastname}}</h1>
        <h1>{{mydetails()}}</h1>

        <button  class="card-topic" v-on:click="startTest(1)">MATH TOPIC</button>

        <button class="card-topic" v-on:click="startTest(2)">SCIENCE TOPIC</button>
        <button  class="card-topic" v-on:click="startTest(3)">ART TOPIC</button>

     </div>

     <script type = "text/javascript" src = "js/vue_instance.js"></script>
     <script type = "text/javascript" src = "js/vue_component.js"></script>

 
   
 </body>
</html>