<html>

<head>
    <title>VueJs Introduction</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <style>
        @import 'css/style.css';
      </style>
</head>
 <body>
  <!----  <div id="component_test" style = "text-align:center;">
        <headercomponent></headercomponent>
     </div>-->

  <div id="quiz" class="align-center">
  
    <div v-if="introStage">
    <h1>{{title}}</h1>
      
      <button class="custom-btn" v-on:click="startQuiz">Continue</button>
    </div>
    
    <div v-if="questionStage">
      <question 
                :question="questions[currentQuestion]"
                v-on:answer="handleAnswer"
                :question-number="currentQuestion+1"
      ></question>
    </div>
    
    <div v-if="resultsStage">
     <h1>Congratulations !! Your SCORE RESULT are</h1>
     <H3>Total Attempted : {{questions.length}} <br>
      Correct Answered : {{correct}}<br>
      Score%  : {{perc}}%.
     </H3> 
    </div>
    

  </div>
  <script type = "text/javascript" src = "js/vue_component.js"></script>

  <script type = "text/javascript" src = "js/vue_que.js"></script>

 </body>
 </html> 